<%= form_for(@entry) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  	<%= f.text_field :title, class: 'form-control', placeholder: "title..." %>
    <%= f.text_area :body, placeholder: "Compose new Entry..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>